.intro-content h1,
.intro-content h1 span,
.intro-content p,
.intro-content .btn {
  opacity: 0;
  @include animation-duration(0.8s);
  @include animation-delay(0.3s);
  @include animation-fill-mode(forwards);
}

.intro-content .btn {
  opacity: 1;
}


.mask{
  &.intro-content {
    font-family: $intro-font;
    font-size: 1.5em;
    button {
      @extend .btn;
      background-color: $intro-button-color;
      @include transition(all, 0.25s);
      &:hover {
        color: #fff;
        background-color: darken($intro-button-color, 20%);
      }
    }
    h1 {
      position: relative;
      padding-bottom: 10px;
      opacity: 1;
      font-weight: 700;
      color: transparent;
      overflow: hidden;
      font-size: 2em;
      &::after {
        content: attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #ffffff;
        @include animation(reveal-up)
        @include animation-duration(0.4s)
        @include animation-delay(0.7s)
        @include animation-fill-mode(backwards)
      }
      span {
        position: relative;
        display: inline-block;
        opacity: 1;
        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 8px);
          left: -1em;
          height: 2px;
          width: calc(100% + 2em);
          background-color: #ffffff;
          @include animation(loading-mask 1s 0.3s both);
        }
      }
    }
    .action-wrapper {
      overflow: hidden;
      p {
        position: relative;
        width: 50%;
        margin: 0 auto;
        padding: 10px 0 0;
        @include animation-name(reveal-down);
        @include animation-duration(0.4s);
        @include animation-delay(0.7s);
        font-weight: 300;
        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 8px);
          left: -1em;
          height: 2px;
          width: calc(100% + 2em);
          @include animation(loading-mask 1s 0.3s both);
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
    .mask.intro-content h1 {
      padding-bottom: 20px;
    }
    .mask.intro-content h1 span::before {
      top: calc(100% + 18px);
    }
    .mask.intro-content p {
      padding-top: 20px;
    }
}

.mask.intro-content .action-wrapper .btn {
  opacity: 1;
}

section {
  display: table;
  width: 100%;
  height: 100vh;
  color: #fff;
  &#intro{
    background: $intro-background-color;
  }
  &#timeline{
    background: $timeline-background-color;
  }
  &#skills {
    background: $skills-background-color;
  }
  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
