nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: auto;
  @include transform(scale(0));
  @include transform-origin(right bottom);
  @include transition(transform, 0.2s);
  @include border-radius;
  background-color: rgba($navigation-background, .9);
  a {
    display: block;
    padding: 1em;
    color: $navigation-link-color;
    font-weight: bold;
    border-bottom: 1px solid rgba($navigation-link-color, .1);
    &.active {
      color: $navigation-active-link-color;
    }
  }
  @media (min-width: $screen-md-min) {
    /* reset style */
    right: 0;
    top: 0;
    bottom: auto;
    height: 100vh;
    width: 90px;
    max-width: none;
    max-height: none;
    @include transform(scale(1));
    background-color: transparent;
    /* vertically align its content*/
    display: table;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($navigation-background, .8);
      @include transform(translateX(100%));
      @include transition(transform, 0.4s);
    }
    .no-touch &:hover::before, 
    .touch &::before {
      @include transform(translateX(0));
    }
    ul {
      /* vertically align <ul> inside <nav>*/
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    a {
      position: relative;
      padding: 3em 0 0;
      margin: 1.4em auto;
      border-bottom: none;
      font-size: 1.2rem;
      color: $navigation-link-color;
      @include transition(all, 0.25s)
      &.active {
        color: $navigation-active-link-color;
      }
      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        /* Force Hardware Acceleration */
        @include backface-visibility(hidden);
        @include transform(translateZ(0));
      }
      &::before {
        top: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background: #eaf2e3;
        @include transform(translateX(-50%) scale(.25));
        @include transition(transform, 0.4s);
        @include transition(background-color, 0.2s);
      }
      &.active::before, 
      .no-touch &:hover::before {
        @include transition(all, 0.25s)
        background-color: #000;
      }
    }

    li:first-of-type a::before {
      @include transform(translateX(-50%) translateY(4.5em) scale(.25));
    }

    li a::before {
      @include transform(translateX(-50%) translateY(1.5em) scale(.25));
    }

    li a::after {
      @include transform(translateX(-50%) translateY(-1.5em) scale(0.01));
    }

    li:nth-of-type(3) a::before {
      @include transform(translateX(-50%) translateY(-1.5em) scale(.25));
    }
    .label {
      display: block;
      /* Force Hardware Acceleration */
      @include backface-visibility(hidden);
      @include transform(translateZ(0));
      @include transform(translateX(100%));
      @include transition(transform 0.4s);
    }
    .no-touch &:hover a::before,
    .no-touch &:hover a::after,
    .touch & li:nth-of-type(n) a::before,
    .touch & li:nth-of-type(n) a::after {
      @include transform(translateX(-50%) scale(1));
      /* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
      -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
    }
    .no-touch &:hover a::after, 
    .touch & a::after {
      opacity: 1;
      @include transition(transform .4s, opacity 0s);
    }

    .no-touch &:hover .label,
    .touch & .label {
      @include transform(translateX(0));
    }
  }
}