<html lang="en" ng-app="portfolioApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>{{ngMeta.title}}</title>
  <meta name="description" content="{{ngMeta.description}}">
  <meta name="author" content="Alex Stoicuta">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta property="og:description" content="{{ngMeta.description}}" />
  <meta property="og:title" content="{{ngMeta.title}}" />
  <meta property="og:type" content="{{ngMeta.type}}" />

  <link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
  <script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/templates.js"></script>
</head>
<body ui-view>
</body>
</html>