<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<ul class="list-inline text-center">
				<li>
					<a target="_blank" ng-href="{{ctrl.socialMediaLinks.linkedInLink}}">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				<li>
					<a target="_blank" ng-href="{{ctrl.socialMediaLinks.facebookLink}}">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				<li>
					<a target="_blank" ng-href="{{ctrl.socialMediaLinks.bitbucketLink}}">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
			</ul>
			<p class="copyright text-muted" translate="site.copyright"></p>
		</div>
	</div>
</div>
