<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="site-heading">
        <h1>{{ 'blog.title' | translate }}</h1>
        <hr class="small">
        <span class="subheading">{{ 'blog.subtitle' | translate }}</span>
      </div>
    </div>
  </div>
</div>
