<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div ng-repeat="post in ctrl.posts">
      <div class="post-preview">
          <a ui-sref="blog.layout.blog-post({postSlug: post.slug, id: post.ID})">
            <h2 class="post-title">{{post.title}}</h2>
            <div class="post-subtitle" ng-bind-html="post.excerpt"></div>
          </a>
          <p class="post-meta">Posted by <a href="#">{{post.author.name}}</a> on {{post.date | dateFilter:'MMMM Do, YYYY' }}</p>
      </div>
      <hr>
    </div>
    <ul class="pager hidden">
        <li class="next">
            <a href="#">Older Posts &rarr;</a>
        </li>
    </ul>
  </div>
</div>
