<div ng-show="requestInProgress">
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>
</div>

<nav ng-hide="requestInProgress" class="navbar navbar-default navbar-custom navbar-fixed-top" ui-view="navBar">
</nav>

<header ng-hide="requestInProgress" ui-view="header" class="intro-header" style="background-image: url('images/home-bg.jpg')">
</header>

<div ng-hide="requestInProgress" class="container" ui-view="content">
</div>

<footer ng-hide="requestInProgress" ui-view="footer">
</footer>
