<div class="container-fluid">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="index" >{{ 'site.name' | translate }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ui-sref="index">{{ 'nav.home' | translate }}</a>
            </li>
            <li>
                <a ui-sref="blog.layout.index">{{ 'nav.blog' | translate }}</a>
            </li>
            <!--
            <li>
                <a ui-sref="blog.layout.about">{{ 'nav.about' | translate }}</a>
            </li>
            <li>
                <a ui-sref="blog.layout.contact">{{ 'nav.contact' | translate }}</a>
            </li>
            -->
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
