<article>
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h1>{{ctrl.post.title}}</h1>
          <div ng-bind-html="ctrl.post.content"></div>
        </div>
    </div>
  </div>
</article>
<hr>
