@include keyframes(bounce-right)
  0%
    opacity: 0.2
    @include transform(translateX(-200px))
  60%
    opacity: 0.7
    @include transform(translateX(15px))
  100%
    opacity: 1
    @include transform(translateX(0))

@include keyframes(bounce-left)
  0%
    opacity: 0.2
    @include transform(translateX(200px))
  60%
    opacity: 0.7
    @include transform(translateX(-15px))
  100%
    opacity: 1
    @include transform(translateX(0))

@include keyframes(bounce-rotate)
  0%
    opacity: 0.2
    @include transform(perspective(800px) rotateX(-80deg))
  20%
    opacity: 1
  60%
    @include transform(perspective(800px) rotateX(20deg))
  100%
    opacity: 1
    @include transform(perspective(800px) rotateX(0))

@include keyframes(slide-left)
  0% 
    opacity: 1
    @include transform(translateX(100vw))
  100%
    opacity: 1
    @include transform(translateX(0))

@include keyframes(slide-left-btn)
  0% 
    opacity: 1
    @include transform(translateX(150vw))
  100%
    opacity: 1
    @include transform(translateX(0))

@include keyframes(fade-in)
  0%
    opacity: 0
  100%
    opacity: 1

@include keyframes(fade-out)
  0%
    opacity: 1
  100%
    opacity: 0

@include keyframes(fade-reveal-up)
  0%
    opacity: 0
    @include transform(translateY(100%))
  100%
    opacity: 1
    @include transform(translateY(0))

@include keyframes(reveal-up)
  0%
    opacity: 1
    @include transform(translateY(100%))
  100%
    opacity: 1
    @include transform(translateY(0))

@include keyframes(reveal-down)
  0%
    opacity: 1
    @include transform(translateY(-100%))
  100%
    opacity: 1
    @include transform(translateY(0))

@include keyframes(loading)
  0%
    @include transform(scaleX(0))
  100%
    @include transform(scaleX(1))

@include keyframes(loading-mask)
  0%, 100%
    @include transform(scaleX(0))
  40%, 60%
    @include transform(scaleX(1))

@include keyframes(mask-wrapper)
  0%
    @include transform(translateX(50%))
  100%
    @include transform(translateX(0))

@include keyframes(mask-content)
  0%
    @include transform(translateX(-100%))
  100%
    @include transform(translateX(0))

@include keyframes(pulse)
  0%, 30.8%
    opacity: 0
  15.4%, 46.2%, 61.5%, 70%
    opacity: 1
  100%
    opacity: 0

@include keyframes(scale-in)
  0%
    opacity: 0
    @include transform(scale(3))
  100%
    opacity: 1
    @include transform(scale(1))

@include keyframes(enter-right)
  0%
    opacity: 0
    transform: translateX(100%)
  100%
    opacity: 1
    transform: translateX(0%)

@include keyframes(enter-left)
  0%
    opacity: 0
    transform: translateX(-100%)
  100%
    opacity: 1
    transform: translateX(0%)

@include keyframes(sk-stretchdelay)
  0%, 40%, 100% 
    transform: scaleY(0.4)
    -webkit-transform: scaleY(0.4)
  20% 
    -webkit-transform: scaleY(1.0)
    -webkit-transform: scaleY(1.0)
