.spinner
  height: 100vh
  width: 100%
  text-align: center
  font-size: 10px
  > div
    background-color: #333
    margin-top: 20%
    height: 10%
    width: 6px
    display: inline-block
    @include animation(sk-stretchdelay 1.2s infinite ease-in-out)
  .rect2
    @include animation-delay(-1.1s)
  .rect3 
    @include animation-delay(-1.0s)
  .rect4
    @include animation-delay(-0.9s)
  .rect5
    @include animation-delay(-0.8s)
