// border radius
@mixin border-radius($radius:0.25em)
  border-radius: $radius

// antialiasing mode font rendering
@mixin font-smoothing
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Animation mixin
@mixin animation($animate...)
  $max: length($animate)
  $animations: ''
  @for $i from 1 through $max
    $animations: #{$animations + nth($animate, $i)}
    @if $i < $max
      $animations: #{$animations + ", "}
  -webkit-animation: $animations
  -moz-animation:    $animations
  -o-animation:      $animations
  animation:         $animations

// Animation duration mixin 
@mixin animation-duration($duration)
  -webkit-animation-duration: $duration
  animation-duration: $duration

// Animation delay mixin
@mixin animation-delay($delay)
  -webkit-animation-delay: $delay
  animation-delay: $delay

// Animation name mixin
@mixin animation-name($name)
  -webkit-animation-name: $name;
  animation-name: $name;

// Animation fill mode
@mixin animation-fill-mode($mode)
  -webkit-animation-fill-mode: $mode
  animation-fill-mode: $mode


// Keyframes mixin
@mixin keyframes($animationName)
  @-webkit-keyframes #{$animationName}
    @content
  @-moz-keyframes #{$animationName}
    @content
  @-o-keyframes #{$animationName}
    @content
  @keyframes #{$animationName}
    @content

@mixin transform($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

@mixin appearance ($value)
  -webkit-appearance: $value
  -moz-appearance: $value
  appearance: $value

@mixin transition($transition...)
  -moz-transition: $transition
  -o-transition: $transition
  -webkit-transition: $transition
  transition: $transition

@mixin transition-property($property...)
  -moz-transition-property:    $property
  -o-transition-property:      $property
  -webkit-transition-property: $property
  transition-property:         $property

@mixin transition-duration($duration...)
  -moz-transition-property: $duration
  -o-transition-property: $duration
  -webkit-transition-property: $duration
  transition-property: $duration

@mixin transition-timing-function($timing...)
  -moz-transition-timing-function: $timing
  -o-transition-timing-function: $timing
  -webkit-transition-timing-function: $timing
  transition-timing-function: $timing

@mixin transition-delay($delay...)
  -moz-transition-delay: $delay
  -o-transition-delay: $delay
  -webkit-transition-delay: $delay
  transition-delay: $delay


@mixin background-cover
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

@mixin serif
  font-family: 'Lora', 'Times New Roman', serif

@mixin sans-serif
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
