<div class="intro-content mask">
  <h1 data-content="Hi there"><span>Hi there</span></h1>
  <div class="action-wrapper">
    <p>
      My name is <strong>Alex</strong> and I build web apps. I'm a JavaScript enthusiast, Angular fan and proud pug owner.<br /><br />
      <button type="button" ui-sref="blog.layout.index">Check out my blog</button>
    </p>
  </div>
</div>
