<!--
<nav class="cd-vertical-nav">
  <ul>
    <li>
      <a href="#intro">
        <span class="label">Intro</span>
      </a>
    </li>
    <li>
      <a href="#timeline">
        <span class="label">Timeline</span>
      </a>
    </li>
    <li>
      <a href="#skills">
        <span class="label">Skills</span>
      </a>
    </li>
  </ul>
</nav>
-->

<section id="intro" class="intro" ng-include="'_intro.html'">
</section>

<!--
<section id="timeline" class="cd-horizontal-timeline" ng-include="'_timeline.html'">
</section>

<section id="skills" ng-include="'_skills.html'">
</section>
-->